<label for = 'title'> 
	Title: <input type = 'text' name = 'song[title]' value = '<%= @song.title %>'>
</label>

<label for = 'length'>
	Length: <input type = 'number' name = 'song[length]' value = '<%= @song.length %>' > 
</label>

<label for = 'released_on'>
	Date(mm/dd/yyyy): <input type = 'text' name = 'song[released_on]' value = '<%= @song.released_on %>' >
</label>

<label for = 'lyrics'>
	Lyrics: <textarea type = 'text' name = 'song[lyrics]' > <%= @song.lyrics %></textarea>
	<input type = 'submit' value = 'Save Song' >
</label>
